<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Test</title>
</head>
<body>
<div class="column is-4 is-offset-4">
    <h3 class="title">Create Test</h3>
    <div class="box">
        <form method="POST" action="/Test">
              <div class="field">
                <div class="control">
                     <label>Test_id
                    <input class="input is-large" type="text" name="test_id" placeholder="Test_id" autofocus="" required>
                     </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                     <label>Engine
                    <input class="input is-large" type="text" name="engine" placeholder="Engine" autofocus="" required>
                     </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>Branch
                 <input class="input is-large" type="text" name="branch" placeholder="Branch" autofocus="" required>
                    </label>
                </div>
            </div>
            <div class="field">
                <label>Book
                    <input class="input is-large" type="text" name="book" placeholder="Book" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Hash
                    <input class="input is-large" type="number" name="hash_size" placeholder="Hash" autofocus="" required>
                </label>
            </div>
             <div class="field">
                <label>TC
                    <input class="input is-large" type="number" step="any" name="tc" placeholder="TC" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label >max_iter
                    <input class="input is-large" type="number" name="max_iter" placeholder="max_iter" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>a
                    <input class="input is-large" type="number" step="any" name="a" placeholder="a" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>c
                    <input class="input is-large" type="number" step="any" name="c" placeholder="c" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>_A
                    <input class="input is-large" type="number" step="any" name="_A" placeholder="_A" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>Alpha
                    <input class="input is-large" type="number" step="any" name="alpha" placeholder="alpha" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>Gamma
                    <input class="input is-large" type="number" step="any" name="gamma" placeholder="gamma" autofocus="" required>
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit Test</button>
        </form>
    </div>
</div>
</body>
</html>

