<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
      var i=2;
      var submit_button= document.getElementById("submit");
     $("#addparameter").click(function(){
         $('#form').append('<div id="parameter' + i + '"></div>');
         $('#parameter' + i).html(' <br>  <div class="field"><label>param_name  <input class="input is-large" type="text"  name="param_name' + i + '" placeholder="param_name" autofocus="" required> </label></div>'
         +' <div class="field"> <label>Value <input class="input is-large" type="number" step="any" name="value' + i + '"placeholder="value" autofocus="" required> </label></div>'
         +' <div class="field"> <label>Lowest <input class="input is-large" type="number" step="any" name="lowest' + i + '" placeholder="lowest" autofocus="" required> </label></div>'
         +' <div class="field"> <label>Highest <input class="input is-large" type="number" step="any" name="highest' + i + '" placeholder="highest" autofocus="" required> </label></div>'
         +' <div class="field"> <label>Step <input class="input is-large" type="number" step="any" name="step' + i + '" placeholder="step" autofocus="" required> </label></div>');

         $('#parameter' + i).insertBefore(submit_button);
         i++;
  });
});

</script>
<div class="column is-4 is-offset-4">
    <h3 class="title">Create Test</h3>
    <div class="box">
        <form method="POST" action="/Test" id="form">
              <div class="field">
                <div class="control">
                     <label>Test_id
                    <input class="input is-large" type="text" name="test_id" placeholder="Test_id" autofocus="" required>
                     </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                     <label>Engine
                    <input class="input is-large" type="text" name="engine" placeholder="Engine" autofocus="" required>
                     </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>Branch
                 <input class="input is-large" type="text" name="branch" placeholder="Branch" autofocus="" required>
                    </label>
                </div>
            </div>
            <div class="field">
                <label>Book
                    <input class="input is-large" type="text" name="book" placeholder="Book" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Hash
                    <input class="input is-large" type="number" name="hash_size" placeholder="Hash" autofocus="" required>
                </label>
            </div>
             <div class="field">
                <label>TC
                    <input class="input is-large" type="number" step="any" name="tc" placeholder="TC" autofocus="" required>
                </label>
            </div>
             <br>
            <div class="field">
                <label >max_iter
                    <input class="input is-large" type="number" name="max_iter" placeholder="max_iter" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>a
                    <input class="input is-large" type="number" step="any" name="a" placeholder="a" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>c
                    <input class="input is-large" type="number" step="any" name="c" placeholder="c" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>_A
                    <input class="input is-large" type="number" step="any" name="_A" placeholder="_A" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>Alpha
                    <input class="input is-large" type="number" step="any" name="alpha" placeholder="alpha" autofocus="" required>
                </label>
            </div>
            <div class="field">
                <label>Gamma
                    <input class="input is-large" type="number" step="any" name="gamma" placeholder="gamma" autofocus="" required>
                </label>
            </div>
            <br>
              <div class="field">
                <label>param_name
                    <input class="input is-large" type="text"  name="param_name1" placeholder="param_name" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Value
                    <input class="input is-large" type="number" step="any" name="value1" placeholder="value" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Lowest
                    <input class="input is-large" type="number" step="any" name="lowest1" placeholder="lowest" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Highest
                    <input class="input is-large" type="number" step="any" name="highest1" placeholder="highest" autofocus="" required>
                </label>
            </div>
              <div class="field">
                <label>Step
                    <input class="input is-large" type="number" step="any" name="step1" placeholder="step" autofocus="" required>
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" id="submit">Submit Test</button>
            <button class="button" id="addparameter">Add Parameter</button>
        </form>
    </div>
</div>
</body>
</html>

